{% extends 'base.html' %}

{% block title %}Online Restaurant{% endblock %}

{% block content %}
<h1>Food Items</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for meal in meals %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="{{ meal.strMeal }}">
            <div class="card-body">
                <h5 class="card-title">{{ meal.strMeal }}</h5>
                <p class="card-text">{{ meal.idMeal }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
